{
  "extends": [
    "formidable/configurations/es6-react",
    "prettier",
    "plugin:prettier/recommended"
  ],
  "parser": "babel-eslint",
  "env": {
    "browser": true
  },
  "plugins": ["babel", "prettier"],
  "rules": {
    "no-magic-numbers": 0,
    "react/sort-comp": 0,
    "comma-dangle": [2, "always-multiline"],
    "jsx-quotes": [2, "prefer-double"],
    "quotes": [2, "double", {"allowTemplateLiterals": true}],
    "prettier/prettier": "error"
  }
}
