syntax: glob

# Directories
node_modules
site_media
search_index
.sass-cache
.vagrant
CACHE
__pycache__

# Files
*~
*.bak
*.db
*.kpf
*.old
*.pyc
*.retry
*.sassc
*.swp
*.tmproj
.vagrant
app-dev.js
app-dev.js.map
local_settings.py
npm-debug.log
pip-log.txt

# Mac stuff
.DS_Store

# Other SCM
.svn
.CVS
.hg*

.vscode/
