{% load raven %}{% load static from staticfiles %}<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Genetic Beats</title>
    <link rel="stylesheet" type="text/css" href="{% static "index.css" %}">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Hind+Madurai" rel="stylesheet">
</head>
<body>
    <div id='root'></div>

{% if debug %}
    <script src="http://localhost:35729/livereload.js"></script>
    <script src="{% static "app-dev.js" %}"></script>
{% else %}
    <script>window.sentry_public_dsn = "{% sentry_public_dsn %}";</script>
    <script src="{% static "app.js" %}"></script>
{% endif %}
</body>
</html>
