html, body {
  height: 100%;
}

span{
  font-size: 24px;
}
div{
    font-size: 24px;
}
input{
    font-size: 24px;
    width: 130px;
    margin-left: 10px;
}
.block-input {
  display: block;
}

.remove-track {
  font-size: 13px;
  display: inline-block;
  color: red;
  border: 1px solid red;
  border-radius: 3px;
  height: 30px;
  padding: 0;
  margin: 0;
  width: 40px;
  cursor: pointer;
  transition: color 0.2s, background-color 0.2s;
}

.remove-track:hover {
  background: red;
  color: white;
}

.arrangement-div{
  height: 200px;
  border: 1px solid black;
}

.arrangement-block{
  border: 1px solid black;
  display: inline-block;
  height: 100%;
  width:80px;
  position:relative;
}

.arrangement-block-text{
  vertical-align: middle;
}

.delete-block{
  position: absolute;
  top: 0;
  right: 0;
}